.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

#navbarNavAltMarkup {
  margin-left: -100px;
}

@media screen and (min-width: 768px) {
  #form_container {
    width: 50%;
  }

  #bmi_table {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #form_container {
    width: 80%;
  }
}
